body{
	font-family: Philosopher;
	font-weight: 400;
	background: red; 
	margin: 0;
	padding: 0;

}

.flex {
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    /* flex-wrap: nowrap; */
    /* -webkit-box-pack: start; */
    -ms-flex-pack: start;
    /* justify-content: flex-start; */
}

.flex_sb {
     -webkit-box-pack: justify; 
    -ms-flex-pack: justify;
     justify-content: space-between; 
}

#section_main img{
	width: 100%;
	height: 500px
}

#section_form .h1{
	height: 114px;
	background: rgba(255, 251, 162, 0.9);
	line-height: 102px;
	font-family: Philosopher;
    font-weight: bold;
    font-size: 48px;	
}


#section_form input,
#section_form textarea {
	width: 60%;
    background: #FFF8B8;
}

#section_form button {
	right: 18%;
    border-radius: 19px;
    position: absolute;
    top: 100%
}
#section_form button:active {
	background: #e6ad00;
}
#section_form form {
	position: relative;
    left: 14%;
    top: 24%;

}	

.head-line{
	margin: 0;
	padding: 0;
	width: 1024px;
}

#section_form .form_title p{
	position: absolute;
    top: 52%;
    left: 47%;
}

.section_reviwes col-12 p {
	background: rgba(255, 251, 162, 0.9);
	border-radius: 50px;	
}
.section_reviwes_h1 {
	font-family: Philosopher;
    font-weight: bold;
    font-size: 48px;
    background: rgba(255, 251, 162, 0.9);
}

.section_reviwes_description {
	padding: 0 0 0 120px;
}

.section_reviwes_title{
	padding: 10px 0 0 20px;
}
.section_reviwes_all{
	padding: 11px;
    background: rgba(255, 249, 104, 0.9);
    border-radius: 68px;
    margin: 5px 0;
}
/*===================================================================
					Home 
=====================================================================*/
.toggle{
    display: none;
}
.hello_visit{
	max-width: 1024px;
	height: 566px;
}
.alert-warning {
    top: 400px;
    height: 100px;
    text-align: center;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    opacity: 0.9;
    font-size: 45px;
    font-family: auto;
}
#for_style{
	position: relative;
}
#easter_notes{
	width: 1024px;
	height: 490px;
	position: relative;
   	background: -moz-linear-gradient(right, #ffffff, #F0E68C);
   	background: -webkit-linear-gradient(left, #ffffff, #F0E68C);
   	background: -o-linear-gradient (right, #ffffff, #F0E68C);
   	background: -ms-linear-gradient (right, #ffffff, #F0E68C);
}
.notes{
    top: 70px;
    position: absolute;
    width: 368px;
    height: 421px;
    font-family: Philosopher;
    left: 75px;
}
.notes h3{
	text-align: center;
	line-height: 50px;
}
.notes p{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 0.025em;
}
.eas_p{
	width: 495px;
	height: 404px;
	position: absolute;
    right: 0;
    bottom: 0;
}
#best_works{
	position: absolute;
	width: 1024px;
	height: 660px;
   	background: -moz-linear-gradient(right, #ffffff, #F0E68C);
   	background: -webkit-linear-gradient(left, #ffffff, #F0E68C);
   	background: -o-linear-gradient (right, #ffffff, #F0E68C);
   	background: -ms-linear-gradient (right, #ffffff, #F0E68C);
}
.works_b{
	position: absolute;
	width: 1024px;
	height: 162px;
	text-align: center;
}
.works_b h1{
	margin-top: 50px;
    font-family: Philosopher; 
}
.layout{
	position: absolute;
	width: 1024px;
	height: 498px;
	top: 162px;
}
#carouselEaster{
	margin-left: 62px;
	max-width: 900px;
	max-height: 498px;
}
#carouselEasterBox{
	/*padding-left: 62px;
	padding-right: 62px;*/
	max-width: 900px;
	max-height: 490px;
}
#carouselEasterBox img{
	max-width: 900px;
	max-height: 490px;
}
/*===================================================================
					Footer -- by Alex
=====================================================================*/
#colophon{
	background: #FFF8B8;
	position: absolute;
    top: 1807px;
    width: 1024px;
}

#colophon div{

	position: relative;
}

#colophon p{
	margin-left: 5em;
	margin-bottom: 0;
    padding: 0.5em 5em;
    font-size: 0.85em;
}

.social-icons{
	height: 4.5em;
	/*position: absolute;*/
	padding: 0.8em;
	margin-left: 1em;
	margin-top: 0.7em;

}

.social-icons:hover {
	opacity: 0.7;
}


/* your-basket
=============================
*/

div.cont {
	width: 1024px;
	height: auto;
	margin: auto;
	background: #fff;
}

.basket {
	display: flex;
	width: 100%;
	height: 575px;
	background-image: url(../img/baner-2.jpg);
	background-size: cover;
	background-position: bottom;
}
.baner-2 {

	background: #FEFBAB;
	opacity: 0.5;
	
}
.desc-ban{
	margin-left: auto;
	font-family: 'Philosopher';
	font-size: 40px;

}

.product {
	display: flex;
	width: 100px;
	height: 70px;
	background: #FEFBAB;
	margin: 20px;
	align-items: center;
}

.basket-block{
	height: 300px;
	background: #fff;
}

.list{
	display: flex;
	width: 120px;
	height: 120px;
	background: #fff;
	margin: 10px;
	align-items: center;
}

.hide{
	display:none;
}

.hovered{
	background: #fff;
}

/*===================================================
			Адаптив 
=====================================================*/
@media screen and (max-width: 1024px){
	html{
		padding-left: 0;
	}
}
@media screen and (max-width: 768px){
	html{
		padding-left: 0;
	}
	.hello_visit {
	    width: 134%;
	    height: 566px;
	}
}
@media screen and (max-width: 768px){
	.easter_logo {
	    width: 19rem;
	}
	.head-line {
    	width: 376px;
	}


	.toggle {
	    display: block;
	    position: absolute;
	    right: -6rem;
	    height: 4rem;
	    width: 5rem;
	    top: 0.6rem;
	    font-size: 3rem;
	    color: red;
	}
	.hello_visit {
    	width: 100%;
    	height: 500px;
	}
	#easter_notes {
    	width: 376px;
	    height: 470px;
	}
	.notes {
	    top: 20px;
	    left: 5px;
	    position: absolute;
	    width: 370px;
	    height: 280px;
	    font-family: Philosopher;
	}
    .notes h3 {
    	text-align: center;
    	line-height: 30px;
	}
	.notes p {
    	font-style: normal;
    	font-weight: normal;
    	font-size: 15px;
    	line-height: 20px;
    	letter-spacing: 0.025em;
	}
	.eas_p {
	    width: 359px;
	    height: 300px;
	    left: 8px;
	    position: absolute;
	    top: 165px;
	}
	img {
	    border-radius: 25%;
	}
	#best_works {
	    width: 376px;
    	height: 440px;
	}
	.works_b {
	    position: absolute;
	    width: 375;
	    height: 110px;
	    text-align: center;
	}
	.layout {
	    position: absolute;
	    width: 375;
	    height: 260px;
	    top: 180px;
	    left: 0px;
	}
	#carouselEaster {
	    margin-left: 0px; 
	}
	#colophon {
	    background: #FFF8B8;
	    position: absolute;
	    top: 1500px;
	    width: 376px;
	}
	body{
		background: white;
	}
}

